body{
    background-color: black;
}
.container{
    padding-bottom: 20px;
    min-height: 100vh;
}

.headName{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 20px;
}

#msg{
    text-align: center;
    color: rgb(250, 248, 248);
    display: none;
    margin-bottom: 20px;
}
#items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.singleItem{
    cursor: pointer;
}
#details{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}